* {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #f7d354;
    transition: .5s;
}

a:hover {
    color: #b8930c;
}