.container {
    max-width: 500px;
    margin-top: 16px;
}

.card {
    color: aliceblue;
    border: 1px solid aliceblue;
    padding: 10px;
}

.nome-usuario {
    font-weight: bold;
    font-size: 19px;
    color: aliceblue;
}